@using PagedList.Mvc;
@using P37.Course.Web.SearchEngines.Model;
@model PagedList.IPagedList<CommodityModel>

@{
    Layout = null;
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<table class="table">
    <tr>
        <th>Id</th>

        <th>category id</th>

        <th>Title</th>

        <th>@Html.ActionLink("Price", "SearchPartialList", new { orderBy = ViewBag.OrderBy, searchString = ViewBag.SearchString, page = 1 })</th>

        <th>URL</th>

        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a href="/Fifth/Details/@item.Id">Details</a>|
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                <a id="@item.Id" href="javascript:void(0);" onclick="ajaxDelete(this)">ajaxDelete</a>
            </td>
        </tr>
    }
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageIndex => Url.Action("SearchPartialList",
    new { pageIndex = pageIndex, searchString = ViewBag.SearchString }))