@using P37.Course.Web.Core.Models; @*can also be added to the Web.config, need restart, otherwise class cannot be identified*@
@model CurrentUser
@{
    ViewBag.Title = "Index";
    CurrentUser viewData = (CurrentUser)ViewData["CurrentUserViewData"];

    CurrentUser tempData = (CurrentUser)TempData["CurrentUserTempData"];

    Layout = "~/Views/Shared/_Layout.cshtml";@*add by default, you can assign null *@
}

<h1>Index First!</h1>

<br>

<h5>ViewBag.Title: @ViewBag.Title</h5>

<h5>ViewBag.TestProp: @ViewBag.TestProp</h5>

<h5>ViewBag.CurrentUserViewBag: @ViewBag.CurrentUserViewBag.Name</h5>

<br>

<h4>ViewData.TestProp: @ViewData["TestProp"]</h4>

<h4>ViewData.CurrentUserViewData get name:  @(((CurrentUser)ViewData["CurrentUserViewData"]).Name) </h4>

<h4>ViewData.userData get Account: @viewData.Account  </h4>

<h4>ViewData.Id get Id: @viewData.Id</h4>

<br>

<h3>model.Name : @Model.Name</h3>

@foreach (Data data in Model.Datas)
{
    <h3> the model: @Model.Name has company : @data.Company</h3>
}


<br>

<h2>TempData.TestProp: @TempData["TestProp"]</h2>

<h2>TempData.CurrentUserViewData get name:  @(((CurrentUser)TempData["CurrentUserTempData"]).Name) </h2>

<h2>TempData.userData get Account: @tempData.Account  </h2>


