@using P37.Course.Web.Core.Models;  @*can also be added to the Web.config, need restart*@
@model CurrentUser
@{
    ViewBag.Title = "Index";
    CurrentUser viewData = (CurrentUser)ViewData["CurrentUserViewData"];

    CurrentUser tempData = (CurrentUser)TempData["CurrentUserTempData"];

    Layout = "~/Views/Shared/_Layout.cshtml";@*add by default, you can assign null *@
}

<h2>Index First!</h2>

<h3>ViewBag.Title: @ViewBag.Title</h3>

<h3>ViewBag.TestProp: @ViewBag.TestProp</h3>

<h3>ViewBag.CurrentUserViewBag: @ViewBag.CurrentUserViewBag.Name</h3>



<h3>ViewData.TestProp: @ViewData["TestProp"]</h3>

<h3>ViewData.CurrentUserViewData get name:  @(((CurrentUser)ViewData["CurrentUserViewData"]).Name) </h3>

<h3>ViewData.userData get Account: @viewData.Account  </h3>

<h3>model.Name : @Model.Name</h3>

<h3>ViewData.Id get Id: @viewData.Id</h3>


@foreach (Data data in Model.Datas)
{
    <h5>@Model.Name company is : @data.Company</h5>
}




<h3>TempData.TestProp: @TempData["TestProp"]</h3>

<h3>TempData.CurrentUserViewData get name:  @(((CurrentUser)TempData["CurrentUserTempData"]).Name) </h3>

<h3>TempData.userData get Account: @tempData.Account  </h3>


