@model P37.Course.Web.Core.Models.RegUser

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register New</title>
</head>
<body>
    @using (Html.BeginForm("AddUser", "Users", FormMethod.Post))
    {
        <div>
            @Html.DisplayNameFor(model => model.CompanyId) @*show the field's display name*@
            @Html.DropDownListFor(model => model.CompanyId, ViewData["companyIdList"] as List<SelectListItem>) @*id is value, name is field*@
        </div>

        <div>
            @Html.LabelFor(model => model.Account)
            @Html.TextBoxFor(model => model.Account, new { @class = "input" })
        </div>

        <div>
            @Html.LabelFor(model => model.Password1)
            @Html.PasswordFor(model => model.Password1, new { @class = "input-lg" })
        </div>
        <div>
            @Html.LabelFor(model => model.Password2)
            @Html.PasswordFor(model => model.Password2, new { @class = "input-lg" })
        </div>

        <div>
            @Html.LabelFor(model=>model.Sex)
            @Html.RadioButtonFor(model=>model.Sex,"Male", new{@checked=true}) Male
            @Html.RadioButtonFor(model=>model.Sex,"Female") Female
            @Html.RadioButtonFor(model=>model.Sex,"hide") hide
        </div>
        <div>
            @Html.LabelFor(model=>model.Hobby)
            basketball <input type="checkbox" name="Hobby" value="basketball">
            football <input type="checkbox" name="Hobby" value="football">
            Soccer <input type="checkbox" name="Hobby" value="Soccer">
        </div>
        <div>
            @Html.LabelFor(model=>model.Remark);
            @Html.TextAreaFor(model=>model.Remark,new{})
        </div>
        <div>
            <input type="submit" value="Register User">

        </div>

    }


</body>

</html>